.pc-wrap {
  flex: 1;
}
.pc-content {
  padding-top: 1.5em;
  text-align: left;
}
.p-image {
  background-color: #ade9d6;
  padding: 7px;
}
.pc-title {
  font-size: var(--fs-body);
  font-weight: 700;
  margin-bottom: 0.25em;
}
.pc-price {
  color: var(--text-light);
}
