.content {
  padding: 2.5em;
  &[data-bg] {
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-color: var(--primary1);
    background-blend-mode: luminosity;
  }
  &[data-bg="bottom"] {
    background-image: url("../../../public/images/BG-Shape.svg");
  }
  &[data-bg="top"] {
    background-image: url("../../../public/images/BG-Shape-Content.svg");
  }
  a.btn {
    padding: 1em 1.75em;
    border-radius: 0.3em;
    color: var(--white);
    background-color: var(--primary);
    background-image: url(../../../public/images/Button-Wave.svg);
    background-repeat: no-repeat;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
    transition: transform 0.3s, background-color 0.2s;

    &:hover {
      background-color: var(--primary3);
      transform: translateY(-2px);
      box-shadow: 0 0.5em 0.7em -0.3em rgba(black, 0.1);
    }
    &:active {
      transform: translateY(-2px) scale(0.98);
    }
  }
}
.main-content {
  background-image: url("../../../public/images/BG-Shape.svg");
}
.second-content {
  background-image: url("../../../public/images/BG-Shape-Content.svg");
}
.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 3em;
  row-gap: 4em;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding-top: 3.3em;

  &[data-reverse] {
    flex-direction: row-reverse;
    // flex-wrap: wrap-reverse;
  }

  .content-text {
    flex: 1 1 17.5em;
    padding-left: 4rem;
    justify-content: center;
    // align-items:flex-start;

    .text-heading {
      display: flex;
      flex-wrap: wrap;
      white-space: pre-wrap;
      color: var(--black);
      letter-spacing: -0.025em;
      font-family: "Syne";
      line-height: 0.875;
      font-size: 3.2em;
      font-weight: 800;

      &[data-highlight] {
        span {
          color: var(--primary);
        }
      }
    }

    .text-p {
      color: var(--text-light);
      font-size: 1.15em;
      padding-top: 1em;
      padding-bottom: 1em;
    }

    .btn-container {
      display: flex;
    }

    .feedbacks {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 2em;

      .feedback-img {
        max-width: 6.5em;
      }

      .feedback-text {
        color: var(--black);

        .sc-text {
          color: var(--primary);
        }
      }
    }
  }

  .content-img {
    flex: 1 0 23%;
    img {
      display: block;
      max-width: 28em;
      margin: auto;
    }
  }
}

@media only screen and (max-width: 767px) {
  .content-img {
    img {
      width: 120%;
    }
  }

  .content-container .content-text {
    padding: 0;
  }
}
